<body>
    <section class="header">
        <img [src]="crdLogo" class="crdLogo">

    </section>
    <section class="w3-hide-large w3-hide-medium header2">
        <i class="fas fa-bars" *ngIf="!isSidebar" (click)="showSideBar()"></i>
        <i class="fas fa-times" *ngIf="isSidebar" (click)="hideSideBar()"></i> Wellcome
    </section>


    <section class="w3-col l3 m4 w3-hide-small apiSidebar" id="sideBar">


        <br>
        <div *ngFor="let api of apiService.ApisList;let i=index" class="apiNav">
            <span (click)="LoadApi(i)" class="apiLink"
                [style.fontWeight]="disp==i?'bolder':'inherit'">{{api.description||api.url}}</span>
            <div *ngIf="load==i"> <img [src]="loadIcon" class="w3-spin"></div>
            <div *ngIf="disp==i">
                <div *ngFor="let c of PathDisp">
                    <div class="contNav">{{c.controller}}</div>

                    <div *ngFor="let p of c.pathes" class="pathBar"
                        (click)="testPath(i,p.ind,p.path,p.shortName||p.name||p.path.httpType) ">
                        <div
                            [style.fontWeight]="(CurrentTest.sysInd==i&& CurrentTest.CurrentPath==p.path) ? 'bold' : 'inherit'">
                            {{p.path.pathName||p.name||p.path.httpType}}</div>
                    </div>

                
                </div>
            </div>
        </div>
        <br>
    </section>

    <section id="body" >
        <router-outlet id="body" class="w3-show-large" (ApiChoose)="LoadApi($event)"></router-outlet>
    </section>
</body>

