<div id="id01" class="modal" style="display: block;">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-1"></div>
            <form class="modal-content animate col-sm-8 col-xs-10" method="post">
                <div class="row">
                    <div class="modal-header">
                        <span class="close" (click)="close()">&times;</span>
                        <span class="w3-tag w3-round " style="margin-top: -2px;"
                            [style.backgroundColor]="httpType=='post'?'#01b48f':(httpType=='get'?'#44c7f4':(httpType=='delete'?'red':'#fca130'))">
                            {{httpType}}
                        </span>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label for="uname"><b>REQUEST URL</b></label>
                        <div class="DivRes">
                            {{response.requwstURL}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10" >
                        <label for="uname"><b>RESPONSE BODY</b></label>
                            <pre class="DivRes" style="height:100px">{{response.responseBody}}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label for="uname"><b>RESPONSE CODE</b></label>
                        <div class="DivRes">{{response.responseCode}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label for="uname"><b>RESPONSE HEADERS</b></label>
                        <pre class="DivRes" style="height: 100px;">{{response.responseHeaders|json}}</pre>
                    </div>
                </div>
                <!-- <input type="text" placeholder="Enter Username" name="uname" required > -->

                <!-- <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span> -->

            </form>
        </div>
    </div>
</div>