
  
  label{
    color:#636162;
  }
  button:hover {
    opacity: 0.8;
  }
  
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(230, 230, 230, 0.91);
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    border-radius: 5px;
    /* width: 40%; */
     /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  .DivRes
  {
    background-color: #585858;
    color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-left: 8px;
    text-align: left;
    font-family: monospace;
    font-size: 13px;

  }
  .modal-header{
    height: 50px;
    text-align: center;
 border-bottom: 1px solid #fefefe
    }

    /* The Close Button */
.close {
    margin-top: 5px;
    color: rgb(87, 84, 84);
    float: right;
    font-size: 28px;
  
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .content{
    width: 495px;
    max-height: 400px;
    left: 785px;
    top: 164px;
    background-color: rgba(0, 0, 0, 0.3);
    float: right;
    /* margin-top: 20px; */
    overflow-x: scroll;
    border: none;
    margin :0;
    }