<body>

    <section class="w3-col l6 m8 testerBody" style="padding: 30px;">
        <div >
            <div (click)="Collapse()" class=" w3-hide-medium w3-hide-small collapser" *ngIf="SampleShow"> Collapse samples
                <span class="w3-border arrow">>
                </span>
            </div>
            <div (click)="unCollapse()"  class="collapser" *ngIf="!SampleShow"> Show Samples
                <span class="w3-border arrow">
                    < </span>
            </div>
            <div></div>
            <span class="testTitle">{{path.CurrentPath.description ||path.name}}</span>
            <span class="w3-tag w3-round "
                [style.backgroundColor]="path.CurrentPath.httpType=='post'?'#01b48f':(path.CurrentPath.httpType=='get'?'#44c7f4':(path.CurrentPath.httpType=='delete'?'red':'#fca130'))">
                {{path.CurrentPath.httpType}}
            </span>
            <span>{{path.CurrentPath.url}}</span><br><br>
            <span *ngIf='path.CurrentPath.pathReturn!=""' ><strong>Returns: </strong> {{path.CurrentPath.pathReturn}}</span>
        </div>
        <br>
        <div>

            <div *ngIf="path.CurrentPath.fieldTbl.length>0">
                <strong>Parameters</strong>


                <div *ngFor="let field of  path.CurrentPath.fieldTbl; let i=index" class="maintest w3-container ">
                    <div class="w3-row">
                        <td class="nameParm w3-col l4 s3">
                            <strong style="color: #838080f5 !important;">
                                {{field.fieldName}}</strong><br>
                        </td>
                        <td class="inputParm w3-col l7 s9" >

                            <input *ngIf="field.fieldName!='requestBody'&& field.fieldIn != 'body'&&!isEnum(field)&&field.fieldType!='file'" type="text" [required]="field.require" [placeholder]="field.require?'required':''"
                                [(ngModel)]="test.Properties[field.fieldName]" [disabled]="!testMode"  >
                            <textarea *ngIf="field.fieldType!='file'&&(field.fieldName=='requestBody'||field.fieldIn == 'body')&& testMode&&!isEnum(field)" [(ngModel)]="test.RequestBody"
                                class="requestBody"></textarea>
                            <pre *ngIf="(field.fieldName=='requestBody'||field.fieldIn == 'body') && field.fieldType!='file' && isEnum(field)==false && !testMode"
                                class="requestBody">{{ parse(requestBody)|json}}</pre>

                            <select class="enumBox" *ngIf="isEnum(field)" [disabled]="!testMode"   [(ngModel)]="test.Properties[field.fieldName]">
                                <option *ngFor="let e of currentEnum" [ngValue]="e">{{e}}</option>
                            </select>
                            <input type="file" *ngIf="field.fieldType=='file'">

                        </td>
                    </div>
                    <div class="w3-center w3-row" style="max-width: 350px;display: flex">
                        <span class="w3-tag w3-white w3-round w3-small w3-border w3-left w3-margin-right" *ngIf="!isEnum(field)" style="height: fit-content;">{{field.fieldType}}</span>
                        <span class="w3-tag w3-white w3-round w3-small w3-border w3-left w3-margin-right" *ngIf="isEnum(field)"  style="height: fit-content;">enum</span>
                        <small>{{field.description}}</small>
                    </div>
                </div>


            </div>
        </div>


        <a (click)="testMode=true" style="cursor: pointer;" *ngIf="!testMode">Test this endpoint</a>
        <a (click)="testMode=false" style="cursor: pointer;" *ngIf="testMode">Cancle Testing</a><br><br>
        <button class="trybtn" (click)="testPath()" [disabled]="!testMode||!isRequiredFull()">

            <span *ngIf="!loadTesting">TRY</span>
            <span *ngIf="loadTesting">Loading...</span>
        </button>
        <div *ngIf="hasResponse">
            response: {{testResponse|json}}

        </div>
    </section>

    <div class="schemas w3-col l4 m2  w3-hide-medium w3-hide-small " id="Samples">
        <a (click)="isSample=!isSample" class="schemaTitle">Body Sample</a>
        <div *ngIf="isSample" class="scroller">
            <pre class="content" style="color: white;"> {{bodySample|json}}</pre>
        </div>
        <br>

        <a (click)="isSchema=!isSchema" class="schemaTitle">Body Schema</a>

        <div *ngIf="isSchema" class="scroller">
            <pre class="content" style="color: white;"> {{components | json}}</pre>
        </div>

    </div>

</body>
<app-test-response [response]="testResponse" [httpType]="path.CurrentPath.httpType" *ngIf="showResponse" (closed)="showResponse=false"></app-test-response>