*{
    font-family:'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
:disabled{
    cursor: not-allowed;
}
.testTitle{
    /* font-family: Fira Sans; */
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
padding:12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;

/* DkPurple */

color: #1F0040;
}

.testerBody{
height: 90vh;
overflow: scroll;
}
.testerBody::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}
.testerBody::-webkit-scrollbar-thumb {
    background: rgb(155, 154, 154); 
    border-radius: 10px;
  }
.head{
    width: 263px;
    height: 24px;
    left: 320px;
    top: 120px;
    font-family: Fira Sans,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1F0040;
    }
    .http{
    /* left: 25%;
    right: 71.33%; */
    top: 23.75%;
    bottom: 73.75%;
    background: #839900;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 20%;
    height: 20px;
    }
    .httpcontent{
    left: 25.78%;
    right: 72.11%;
    top: 24.5%;
    bottom: 74.25%;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    }
    .url{
        width: 349px;
        height: 14px;
        left: 377px;
        top: 193px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
        color: #1F0040;  
    }
    .parameters{
    width: 83px;
    height: 24px;
    left: 320px;
    top: 230px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1F0040;
    }
    .maintest{
    /* width: 435px;
    height: 217px;
    left: 320px;
    top: 274px; */
    min-width: max-content;
    background: #F5F8FA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
    margin: 20px;
    }

    .inputParm{
        width: 65%;
        padding:15px; 
        align-content: center;
        align-items: center;
    }
    .inputParm>input{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
    } 
    .inputParm>input:focus{

        border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
    }

    .nameParm{

        vertical-align: top;
        padding:20px;
        width: 35%;
        text-align: right;

    }
    .enumBox{
        padding: 7px;
        border-radius: 3px;
        width: -webkit-fill-available;
        margin: 8px;
    }
    .enumBox>option{
        padding:10px ;
        text-align: center;
        font-size: larger;

    }
    .trybtn{
        background: #0071B7;
        border:none;
        border-radius: 3px;
        cursor: pointer;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        align-items: center;
        letter-spacing: 1px;
        color: #fff;
        padding: 10px 20px;
    }
    .schemas{
    width: 30vw;
    height: 88vh;
    /* left: 785px; */
    top: 0px;
    background: #1F0040;
    float: right;
    color: white;
    /* padding-top: 30px; */
    padding-left: 20px;
    }
    .schemaTitle{
        line-height: 50px;
    cursor: pointer;
    color: #97b814;
    font-size: 15px;
    }
    .content{
    width: 30vw;
    max-height: 38vh;
    left: 785px;
    top: 164px;
    background-color: rgba(0, 0, 0, 0.3);
    float: right;
    /* margin-top: 20px; */
    overflow: scroll;
    border: none;
    margin :0;
    }
    .content::-webkit-scrollbar{
        width: 3px;
        height: 3px;
    }
    .content::-webkit-scrollbar-thumb{
        color:rgb(255, 255, 255);
        border-radius: 10px;
        
    }
    .requestBody{
        font-size: 12px;
        width: 100%;
        min-height: 170px;
        padding: 10px;
        border-radius: 4px;
        background: hsla(0,0%,100%,.8);
        font-family: monospace;
        font-weight: 600;
        color: #3b4151;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .requestBody:disabled{
        cursor: not-allowed;
    }
    .inputParm>input:disabled{
        cursor: not-allowed;
    }
    .trybtn:disabled{
        cursor: not-allowed;
    }
    .collapser{
        float: right;
        cursor: pointer;
    }
    .collapser>.arrow{
        border-radius: 50%;
        padding: 5px 10px;
        font-size: 20px;
        font-family: monospace;
        color: #737171;
    }