<section class="mainMenu" *ngIf="apiService.ApisList">
    <span class="title">Api Documentation</span>
    <p class="content"> Welcome to Cross River! Learn how to develop applications and test your own examples on the
        Cross River API. Submit an API call with your own parameters and see the code for that call, as well as the
        API
        response. Not a developer? Learn more about Cross River products here.
    </p>
    <div *ngFor="let api of apiService.ApisList" class="apiCard ">


        <span class="apiDesc">{{api.description}}</span>        <br>

        <span class="apiName">{{api.url}} </span>
    </div>
</section>