body{
    background-color: #fff;
    font-family:'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.crdLogo{
position: absolute;
width: 163.3px;
height: 38px;
left: 20px;
top: 10px;
}
.header{
height: 80px;
left: 0%;
right: 0%;
top: 0px;
z-index: 1;
background: #FFFFFF;
box-shadow: 0px 5px 20px rgba(31, 0, 64, 0.07);
}
.apiSidebar{
width: 290px;
height: 800px;
left: 0px;
top: 0px;
padding-top:5px;
background: #F5F8FA

}
.apiNav{
padding:15px;
color: #1F0040;
cursor: pointer;
font-size: 16px;
}
/* .apiNav:hover{
width: 100%;
box-shadow: #c4c2c2 -1px 1px 5px 0px;
}   */

.apiLink:hover,
.apiLink:focus {
      box-shadow: inset 6.5em 0 0 0 var(--hover);
  font-weight: bold;
}
.apiCard{
    width: 315px; 
    height: 150px;
    display: inline-table;
    padding: 8px;
    margin:8px;
    background: rgb(78, 36, 97);
    border-radius: 10px;
}

.apiCard>.apiName{
right: 60px;
top: 56px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
color: #FFFFFF;
}

.apiCard>.apiDesc{
left: 20px;
top: 20px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
color: #FFFFFF;

}

.mainMenu{

line-height: 24px;
color: #1F0040;

}

.title{
padding:20px;
font-weight: 500;
font-size: 24px;
display: flex;
align-items: center;

}

.content{
    
    max-width: 650px;
     display: flex;
     padding: 20px;
   
    font-weight: normal;
    font-size: 16px;

}


.pathBar{
margin-left: 25px;
margin-right: 15px;
top: 0%;
bottom: 0%;
padding:8px;
font-size:14px ;

/* XltGray */

background: #F5F8FA;
border-bottom: 1px solid  rgba(0, 0, 0, 0.1);;
}
.contNav{
        font-weight: bold;
        margin: 8px;
        font-size:14px ;
}

